@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes rgb-change {
  0% {
    background-color: rgb(255, 0, 0); /* Red */
  }
  33% {
    background-color: rgb(0, 255, 0); /* Green */
  }
  66% {
    background-color: rgb(0, 0, 255); /* Blue */
  }
  100% {
    background-color: rgb(255, 0, 0); /* Back to Red */
  }
}
.animate-rgb-change {
  animation: rgb-change 30s ease infinite;
}

@supports (-webkit-backdrop-filter: blur(20px)) {
  .backdrop-blur-xl {
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
  }
}